<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="author" content="Herve Kongo 0812808199 hervekongo.hk@gmail.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600" async defer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" async defer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.8.2/venobox.css" async defer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" async defer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" async defer>
    <link rel="stylesheet" href="css/style.css" async defer>
    <title>SCPT-DSI</title>
</head>
<body>
        <nav>
            <h5 class="brand">SCPT-DSI</h5>
            <ul>
                <li><a href="/accueil">Accueil</a></li>
                <li><a href="/registrer">S'inscrire</a></li>
            </ul>
            <div style="clear: both"></div>
        </nav>

        <div class="container mt-2">
            <div class="card-header">
                
                    <h4 class="py-3 px-3 text-center text-primary">
                        S'AUTHENTIFIER
                    </h4>
                
            </div>
            <hr>
            <div class="col-md-6 m-auto">
               <div class="card" >
                 <div class="card-header">
                     Se connecter
                 </div>
                    <div class="card-body">
                        <form action="/auth/login" method="POST">
                            
                            <div class="form-group">
                                <label for="email">Adresse Email</label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="passwod">Mot de Passe</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                          
                            <button type="submit" class="btn btn-primary">se connecter</button>
                            <hr>
                        </form>
                    </div>
                    <h7 class=" py-3 px-3 text-center text-primary">
                        Remplissez les deux champs si vous avez un compte chez nous, sinon prière de s'inscrire s'il vous plait!
                    </h7>
            </div>
            <hr>
            {{#if message}}
            <h7 class="alert alert-danger mt-4">{{message}}</h7>
            {{/if}}
            </div>
        </div>
</body> 
</html>