                    <div class="col-sm-12">
                        <h1 class="mt-0 mb-4 animated hiding" data-animation="fadeInDown" data-delay="300">Bienvenue à la SCPT</h1>
                        <a class="mt-0 mb-4 btn btn-blue nav-external animated hiding" data-animation="fadeIn" data-delay="900" href="/">Allez-y</a>
                        <h3 class="mt-0 mb-0 animated hiding" data-animation="fadeIn" data-delay="600"> La Direction des Services Informatiques DSI</h3>
                    </div>